server:
  port: ${PORT:8080}
spring:
  application:
    name: test-java-izertis
  datasource:
    url: jdbc:h2:mem:test;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    properties:
      hibernate:
        generate_statistics: true
    hibernate:
      ddl-auto: none
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  sql:
    init:
      schema-locations: classpath:/h2-db/schema.sql
      data-locations: classpath:/h2-db/data.sql
      mode: always
springdoc:
  api-docs:
    enabled: true

kafka:
  bootstrap-servers: localhost:9092
  producer:
    acks: all
    retries: 3
    delivery-timeout-ms: 120000
    enable-idempotence: true
  topics:
    price-published: prices-topic
    order-paid: orders-topic


logging:
  level:
    org.hibernate.stat: DEBUG